USE [master]
GO
/****** Object:  Database [lawsuit]    Script Date: 7.01.2023 14:29:04 ******/
CREATE DATABASE [lawsuit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lawsuit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\lawsuit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lawsuit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\lawsuit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lawsuit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lawsuit]
GO
USE [lawsuit]
GO
/****** Object:  Table [dbo].[lawsuit]    Script Date: 7.01.2023 14:29:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lawsuit](
	[LawsuitNo] [nvarchar](50) NULL,
	[DefendentName] [nvarchar](50) NULL,
	[DefendentSurname] [nvarchar](50) NULL,
	[DefendentID] [nvarchar](50) NULL,
	[DefendentGender] [nvarchar](50) NULL,
	[PlaintiffName] [nvarchar](50) NULL,
	[PlaintiffSurname] [nvarchar](50) NULL,
	[PlaintiffID] [nvarchar](50) NULL,
	[PlaintiffGender] [nvarchar](50) NULL,
	[JudgeNo] [nvarchar](50) NULL,
	[Courthouse] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newuser]    Script Date: 7.01.2023 14:29:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newuser](
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[lawsuit] ([LawsuitNo], [DefendentName], [DefendentSurname], [DefendentID], [DefendentGender], [PlaintiffName], [PlaintiffSurname], [PlaintiffID], [PlaintiffGender], [JudgeNo], [Courthouse]) VALUES (N'87', N'Mehmet', N'Ayhan', N'4578939274', N'Man', N'Emirhan', N'Vural', N'3497766543', N'Man', N'3400', N'Manavgat Adliyesi ')
INSERT [dbo].[lawsuit] ([LawsuitNo], [DefendentName], [DefendentSurname], [DefendentID], [DefendentGender], [PlaintiffName], [PlaintiffSurname], [PlaintiffID], [PlaintiffGender], [JudgeNo], [Courthouse]) VALUES (N'13', N'Tuana', N'Cehyan', N'236849383', N'Woman', N'Ayşe', N'Erman', N'975324745', N'Woman', N'6578', N'Çorum Adliyesi  ')
INSERT [dbo].[lawsuit] ([LawsuitNo], [DefendentName], [DefendentSurname], [DefendentID], [DefendentGender], [PlaintiffName], [PlaintiffSurname], [PlaintiffID], [PlaintiffGender], [JudgeNo], [Courthouse]) VALUES (N'22', N'Ali', N'Koç', N'439685394', N'Man', N'İhsan', N'Koç', N'270045667', N'Man', N'5644', N'Kartal Adliyesi')
INSERT [dbo].[newuser] ([UserName], [Password]) VALUES (N'sls', N'sls')
INSERT [dbo].[newuser] ([UserName], [Password]) VALUES (N'ik', N'ik')
INSERT [dbo].[newuser] ([UserName], [Password]) VALUES (N'ik', N'ik')
USE [master]
GO
